<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <!--  <test name="PatientTests" verbose="5">
  <parameter name="browserType" value="CH"/>
  <parameter name="url" value="http://96.84.175.78/MMP-Release2-Integrated-Build.6.8.000/" />
  <parameter name="adminUrl" value="http://96.84.175.78/MMP-Release2-Admin-Build.2.1.000/login.php" />
  <parameter name="adminUsername" value="Thomas@123" />
  <parameter name="adminPassword" value="Thomas@111" />
    <classes>
      <class name="org.iit.mmp.patient.tests.PatientTests"/>
    </classes>
  </test> Test -->
  
  <test name="AdminTests" verbose="5">
  <parameter name="browserType" value="CH"/>
  <parameter name="url" value="http://96.84.175.78/MMP-Release2-Integrated-Build.6.8.000/" />
  <parameter name="adminUrl" value="http://96.84.175.78/MMP-Release2-Admin-Build.2.1.000/login.php" />
  <parameter name="adminUsername" value="Thomas@123" />
  <parameter name="adminPassword" value="Thomas@111" />
    <classes>
      <class name="org.iit.mmp.admin.tests.AdminTests"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
